<%- include('../includes/header') %>

  <section class="form-section flex-column">
    <%if (errorMessage) { %>
      <div> <%=errorMessage %></div>
      <%}%>
    <form class="form mt-5" action="/new-password" method="POST">
      <div class="form-titles  text-center">
        <h2>Log In to Your Account</h2>
        <h4>Or <a href="/register">Register</a> and Get Started!</h4>
      </div>
      <div class="col-lg-7  m-auto">

       

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="New-Password">
          </div>

          <div class="form-group text-center">
         
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Update Password">


          </div>
  
      </div>
    </form>
  </section>
  <%- include('../includes/footer') %>