<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />

  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>
    
        <header class="site-navbar" role="banner">
          <div class="w-100  navbar-banner">
            <h3 class="text-black">INFINITY FC <span> NO TO RACISM </span></h3>
    
          </div>
          <div class="container">
            <div class="d-flex justify-content-between align-items-center">
              <div class="site-logo">
                <a href="/">
                  <img src="images/infinity/infinityLogo-removebg-preview.png" alt="Logo" />
                </a>
              </div>
              <div>
                <nav class="site-navigation position-relative text-center" role="navigation">
                  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li class="<%= path === '/' ? 'active' : '' %>">
                      <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="<%= path === '/team' ? 'active' : '' %>"><a href="/team" class="nav-link">Team</a></li>
                    <li class="<%= path === '/news' ? 'active' : '' %>"><a href="/news" class="nav-link">News</a></li>
                    <li class="<%= path === '/gallery' ? 'active' : '' %>"><a href="/gallery" class="nav-link">Gallery</a></li>
                    <li class="<%= path === '/contact' ? 'active' : '' %>"><a href="/contact" class="nav-link">Contact</a></li>
                    <li class="<%= path === '/login' ? 'active' : '' %>"><a href="/login" class="nav-link">Login</a></li>
                    <li class="<%= path === '/register' ? 'active' : '' %>"><a href="/register" class="nav-link">Register</a></li>
                    <li>
                      <form action="/logout" method="post">
                      <input type="hidden" name="_csrf" value="">
                      <button type="submit" class="nav-link">LOGOUT</button>
                   </li>
                  </ul>
                </nav>
    
                <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                    class="ion-navicon-round h14 nav-color"></span></a>
              </div>
            </div>
          </div>
        </header>