<div class="latest-news" id="news">
  <div class="container">
    <div class="row">
      <div class="col-12 title-section">
        <h2 class="heading">Latest News</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="post-entry">
          <a href="/news/<%=post._id%>">  adsds </a>
            <img src="<%= news.image %>" alt="Image" class="img-fluid" />
       
         
          <div class="caption">
            <div class="caption-inner">
              <a href="/news-section/<%=news._id %>">
                <h3 class="mb-3">
                  <%=news.title%>
                </h3>
              </a>
              <div class="author d-flex align-items-center">
                <div class="text">
                  <h4>
                    <%= news.title %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>